body{background-color: #c8c8c8;
    margin-left: 40px;
   width: 100vw;

}
h1  {    
    font-size: 70px;
    color: rgb(36, 35, 35);
    text-align: center;
}

a   {font-weight: bold;
    color: red;
}

section   {
    width: 1450px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 225px;
  
}
section > p  {
    width: 95%;
    
}

h2  {color: red;
margin-left: 225px;
margin-top: 40px;

}


.tableau    {
    
    width: 1380px;
    border-collapse: collapse;
    margin-left: 225px;
    
    
 
}
thead tr th {background-color: #333333;
    padding: 10px;
color:  white;
font-size: 20px
;
}
tbody  tr th,td{    
    padding: 10px;
}
tbody tr:nth-child(even){ background-color: #dedede;

}
figure {
    background-color: #303030;
    border: 3px solid red;
    border-radius: 10px;
    padding : 2%;
    margin-left: 225px;
    width: 1300px;
 margin-bottom: -30px
    
    
  
    
}
.txtbas{
    margin-left: 225px;
}
figcaption {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}
figure img{
   height: 100%;
    width:100%;
}
blockquote{
  margin-left: 500px;  
}

h3  {color: red;
    margin-left: 225px;
    margin-top: 40px;
  }
  .liste{margin-left: 225px;

  }
  ul{margin-left: 225px;


  }
  pre{
      margin-left: 225px;
  }
  .lk{
      margin-left:225px ;
  }
  .sect{margin-left: 430px;
    width: 900px;
    background-color: #b6b6b6;
    border:3px dashed #4d47a9 ;
    border-radius: 0px;
    padding : 2%;
    margin-left: 420px;
    width: 900px;
 margin-bottom: -30px

  }
tr, :hover{  background-color: #989898;
}
